body, h1, h2, h3 {
  margin: 0;
}

body {
  background: #F1F1F1;
}

h1 {
  font-family: 'Roboto', sans-serif ;
  font-weight: 500;
}

h3 {
  font-family: 'Radio Canada', sans-serif;
  font-weight: 600
}
